{{!--I am going to start using bulma to code out the all memories feed. Right now I am just building out the basic page without the functionality that will make it dynamic depending on the user.--}}

<div class="columns" style="background-color:#808080; padding: 10px; text-align:center;">
  <div class="column" style="text-align:left;"><button>Create a memory</button></div>
  <div class="column" style="text-align:right;"><button>Recent</button></div>
  <div class="column" style="text-align:right;"><button>Date Range</button></div>
  <div class="column" style="text-align:right;"><button>Category</button></div>
  <div class="column" style="text-align:right;"><button>Logout</button></div>
</div>
<div class="columns">
    <div class="column">This is where the dynamic content added by the user will go.</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/allMemories.js"></script>
