<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <h4>Memories Logo</h4>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          View Memories
        </a>
      </div>
    </div>

<<<<<<< HEAD
=======




>>>>>>> b5bc3b0ccbe28e358710893a69945aa68c48db36
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="logout" class="button is-primary">
            Log out
          </a>
        </div>
      </div>
    </div>
<<<<<<< HEAD
  </div>
=======
>>>>>>> b5bc3b0ccbe28e358710893a69945aa68c48db36
</nav>
<div class="container">
  <form action="/">
    <div class="column">

      <label for="dates"> Date:</label>
      <input type="date" id="dates" name="dates">
    </div>
    <div class="column">

      <label for="title">Memory Title:</label>
      <input placeholder="title" type="text" id="title" name="title">
    </div>
    <div class="column">

      <label for="location">Where you were?</label>
      <input placeholder="location" type="text" id="location" name="location">
    </div>
    <div class="column">
      <input type="submit">
    </div>
  </form>

</div>

<<<<<<< HEAD
=======
<script src="../public/assets/js/createMemory.js"></script>
>>>>>>> b5bc3b0ccbe28e358710893a69945aa68c48db36
<style>
  .navbar {
    background-color: rgb(42, 42, 235);

  }

  .navbar-item {
    color: white;
  }
  input, label {
    display:block;
}
<<<<<<< HEAD
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/createMemory.js"></script>
=======
</style>
>>>>>>> b5bc3b0ccbe28e358710893a69945aa68c48db36
