<form id="signupForm">
    <label for="firstName">First name:</label><br>
    <input type="text" id="firstName" name="firstName"><br>
    <label for="lastName">Last name:</label><br>
    <input type="text" id="lastName" name="lastName"><br>
    <label for="newEmail">Email:</label><br>
    <input type="text" id="newEmail" name="newEmail"><br>
    <label for="newUsername">Create a username:</label><br>
    <input type="text" id="newUsername" name="newUsername"><br>
    <label for="newPassword">Create your password:</label><br>
    <input type="text" id="newPassword" name="newPassword"><br>
    <label for="confirmPassword">Re-enter password to confirm:</label><br>
    <input type="text" id="confirmPassword" name="confirmPassword"><br>
    <input type="submit" id="signupSubmit" value="Sign up">
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/signup.js"></script>