<section class="hero welcome has-background-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered has-text-weight-bold is-2">
        Sign up
      </h1>
    </div>
  </div>
</section>
<section>
<div class="columns">
    <div class="column" style="border: 1px solid black; text-align:center; margin: 50px auto; background-color:lightgrey;">
        <form id="signupForm">
    <label for="firstName">First name:</label><br> 
    <input type="text" id="firstName" name="firstName"><br>
    <label for="lastName">Last name:</label><br>
    <input type="text" id="lastName" name="lastName"><br>
    <label for="newEmail">Email:</label><br>
    <input type="text" id="newEmail" name="newEmail"><br>
    <label for="newUsername">Create a username:</label><br>
    <input type="text" id="newUsername" name="newUsername"><br>
    <label for="newPassword">Create your password:</label><br>
    <input type="password" id="newPassword" name="newPassword"><br>
    <label for="confirmPassword">Re-enter password to confirm:</label><br>
    <input type="password" id="confirmPassword" name="confirmPassword"><br>
    <input type="submit" id="signupSubmit" value="Sign up">
</form>
    </div>
</div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/signup.js"></script>