html {
  background-color: whitesmoke;
  /* overflow: hidden; */
}

body {
  height: 100%;
}

.main-bg {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  background-image: url(../images/bg.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  position: absolute;
}

.welcome {
  border-bottom: 0.5rem solid rgb(64, 64, 64);
  position: relative;
  z-index: 1;
}

.welcome h1 {
  font-family: "Permanent Marker", cursive;
  color: white;
  text-shadow: 2px 2px rgb(64, 64, 64);
}

.thumbnail img {
  height: 175px;
  width: 225px;
}

.image img {
  border: dashed black;
  border-radius: 5px;
}

.filters {
  background-color: white;
  box-shadow: 0 0 3px;
  border-radius: 0px 0px 5px 5px;
  z-index: 2;
}

.filters button {
  width: 100%;
}

.memory-container {
  height: 65vh;
  overflow-y: auto;
}

.memory-card {
  background-color: white;
  box-shadow: 0 0 3px;
  border-radius: 5px;
}

.flex-rtl {
  flex-direction: row-reverse;
}